# output files
perturbation_outputs/
*.out 
*.txt
results/
processed/
images/

# slurm files
*.launcher

# temp/config files
.vscode/
__pycache__/
*.ipynb
*.egg-info/
tmp/
PeerRead/

# dspy logs
*.log